{{ define "main" }}
<!-- <div>
  <div class="handy-grid">
    {{ $type := .Type }}
      {{ range $key, $value := .Data.Terms.Alphabetical }}
        {{ $name := .Name }}
        {{ $count := .Count }}
        {{ with $.Site.GetPage (printf "/%s/%s" $type $name) }}
          <div class="handy-card">
            <a href="{{ .Permalink }}">
              <div class="handy-card-image"><img src="/images/{{ .Params.image }}" alt="{{ .Name }}"></div>
              <div class="handy-card-title">{{ .Name }}</div>
              <div class="handy-card-description">{{ .Params.description }}</div>
            </a>
          </div>
        {{ end }}
      {{ end }}
  </div>
</div> -->
  <div class="terms">
    <h1>{{ .Title }}</h1>
    <ul class="terms__list">
      {{ $type := .Type }}
      {{ range $key, $value := .Data.Terms.Alphabetical }}
        {{ $name := .Name }}
        {{ $count := .Count }}
        {{ with $.Site.GetPage (printf "/%s/%s" $type $name) }}
          <li class="terms__term">
            <a href="{{ .Permalink }}"
              >#{{ .Name }} <span class="terms__term-count">{{ $count }}</span></a
            >
          </li>
        {{ end }}
      {{ end }}
    </ul>
  </div>
{{ end }}
